# Temp files
.DS_Store
*~
buck-out/

# IDEs
/.idea/
/.vscode/
/.spyproject/
*.code-workspace

# Compiled files
.venv/
__pycache__/
.*cache/
.ipynb_checkpoints/

# Distribution / packaging
/dist/
_version.py
uv.lock

# Tests and coverage
/data/
/node_modules/
/.coverage*
/tests/data/

# docs
/docs/generated/
/docs/_build/

# benchmarks
/.asv/
*.bin
profile.speedscope.json
