# Temp files
.DS_Store
*~
*.tmp
temp/

# Compiled files
__pycache__/

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/.pytest_cache/
/.cache/
/data/

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/
/.spyproject/

# docs
/docs/generated/
/docs/_build/

# other
_version.py
node_modules/
.code-workspace

# test datasets (e.g. Xenium ones)
data/
tests/data
